body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

h1, h2 { text-align: center; }

.menu-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.menu-card {
    width: 250px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 0 10px #ccc;
    transition: 0.2s;
}

.menu-card:hover {
    transform: scale(1.05);
}

.btn {
    padding: 10px 20px;
    display: inline-block;
    background: #007bff;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    border-radius: 5px;
}

.form-box {
    width: 320px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.form-box input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.hapus { color: red; }
.edit { color: green; }
